body {
  background-color: #fffac5;
  background: linear-gradient(-45deg, #fffac5, #c7f6fa, #c7Fadc, #f8c7fa);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#content {
  background-color: #ffb562;
  width: 600px;
  height: 75vh;
  overflow-y: auto;
  margin: 5% auto 0;
  border-radius: 200px;
  border: 20px double #084cbb;
}

.title {
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  color: #084cbb;
  font-size: 2.7em;
  font-weight: 700;
  text-shadow: 2px 2px 2px #f9f9f9;
}

.form-div {
  display: block;
  text-align: center;
}

form {
  font-size: 1.25em;
  font-weight: 600;
  display: inline-block;
  margin: 0 auto 40px;
}

input, select {
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
}

.bill_amt {
  display: block;
  margin: 0 auto 0px;
}

.tip-quality {
  display: block;
  margin: 0 auto 20px;
  width: 200px;
}

.group-number {
  display: block;
  margin: 0 auto 0px;
  width: 210px;
}

.calculate {
  font-size: 1.4em;
  font-weight: 700;
  padding: 10px;
  display: block;
  margin: 0 auto 40px;
  border: none;
  border-radius: 25px;
}

.total-box {
  display: none;
  background-color: #fff;
  margin: 20px auto 40px;
  width: 60%;
  border-radius: 70px;
}

.p1 {
  margin-bottom: 0;
}

.tip-calculation {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: bold;
  color: #084cbb;
}

.reset {
  width: 30%;
  font-size: 1em;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  margin: 0 auto 40px;
}

/*=======Media Queries==========*/

@media (max-height: 535px) {
  #content {
    height: 90vh;
  }
}

@media (min-height: 800px) {
  #content {
    height: 70vh;

  }
}

@media (max-width: 599px) {
  #content {
    width: 80%;
  }

  .title {
    margin-top: 10%;
    font-size: 1.75em;
  }

  form {
    margin-bottom: 20px;
  }

  .calculate {
    margin-bottom: 10px;
  }

  .total-box {
    width: 90%;
  }

}
